#root {
  max-width: 380px;
  max-height: 540px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.models {
  display: flex;
  justify-content: center;
  margin-top: 5px;
    .aiBtn {
      background-color: #333;            /* Dark background */
      color: white;                      /* White text */
      padding: 12px 24px;                /* Adequate padding */
      border: 2px solid transparent;     /* Transparent border by default */
      border-radius: 8px;                /* Rounded corners */
      margin: 5px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: background-color 0.3s ease, border 0.3s ease;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }
      /* Glowing effect for active button */
    .aiBtn.activeAiBtn {
      box-shadow: 0 0 10px 2px #646cff;
    }
    .aiBtn:hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  .submitBtn {
    background-color: #ffffff;            /* Dark background */
    color: black;                      /* White text */
    padding: 12px 24px;                /* Adequate padding */
    border: 2px solid transparent;     /* Transparent border by default */
    border-radius: 8px;                /* Rounded corners */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, border 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  .submitBtn:hover {
    background-color: #444;            /* Slightly lighter on hover */
    color: #ffffff;
    border: 2px solid white;           /* White border on hover */
  }

  .submitBtn:active {
    background-color: #222;            /* Darker when active */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
